/* Global Styles */

/* for our font  - want to use inter (responsive and changes size as needed)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}


:root {
  --primary-color: #2C3E50;
  --text-color: white;
  --nav-text-color: black;
  --nav-bg-color: #ECF0F1;
  --tile-bg-color: #f9f9f9;
  --tile-border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --accent-text-color: #34495E;
}


.header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 98vw;
  height: 3vh; 
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px var(--shadow-color);
}


nav {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  width: 15vw;
  height: calc(100vh - 5vh); 
  padding: 1rem;
  margin-top: 5vh;
  left: 0;
  position: fixed;  
  overflow-y: auto; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 2vh;
}

nav ul li {
  margin: 0.5em 0;
}

nav ul li a {
  color: var(--nav-text-color);
  text-decoration: none;
  font-size: 0.85rem;
  padding: 0.5rem;
  display: block;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: var(--primary-color);
  color: white;
}

.main-content {
  flex: 1; 
  background-color: #fff;
  top: 10vh;
}

.tile {
  background-color: var(--tile-bg-color);
  border: 1px solid var(--tile-border-color);
  border-radius: 2vh;
  padding-left: 2rem;
  box-shadow: 0 4px 10px var(--shadow-color);
  width: 78vw;
  height: 89vh;
  top:9vh; 
  left:18vw;
  position:fixed;
  overflow-y: auto; 
  font-size: 0.85rem;

}

.locked-item a {
  opacity: 0.5; 
  color: black;  
  display: flex;
  align-items: center;
}

.locked-item a:hover {
  opacity: 1; 
}

.lock-icon {
  opacity: 0.5; 
  margin-right: 0.5rem; 
  color: black; 
  width: 1.5vw
}

.outline-button {
  background-color: transparent;
  border: 2px solid var(--accent-text-color);
  color: var(--accent-text-color);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right:2vw;
}

.outline-button:hover {
  background-color: var(--accent-text-color);
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
}

.search-bar-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 75%;
  padding: 0.5vh 1vw;
  border: 1px solid #ccc;
  border-radius: 1vh;
  font-size: 1rem;
}

.search-bar:focus {
  outline: none;
  border-color: #34495E;
  box-shadow: 0 0 4px #34495E; 
}

.sign-in-button {
  background-color: white; 
  color: #34495E;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: #566f88; 
}